<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--需要引入的文件-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap-datetimepicker.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="bootstrap-datetimepicker.min.js"></script>
</head>

定义一个APP
<body ng-app="myReverseFilterApp" style="width: 750px;margin: 0px">
此div中的控制器MyController
<div ng-controller="MyController">
    <input ng-model="greeting" type="text"><br>
   <!-- angualr过滤器的使用方法【{{value|filter}}】,值或者能表示一个值得变量加一个管道符“|”，后面接上filter的名字
    这里的过滤器reverse是angualr中提供的实例，test是自己编写的filter。
    reverse将字母倒置，test在输入长度超过13时显示...-->

    没有过滤器: {{greeting}}<br>
    Reverse过滤器: {{greeting|reverse}}<br>
    在controller中使用Reverse: {{filteredGreeting}}<br>

    test过滤器: {{greeting|test}}
    <hr/>
    <hr/>
</div>
此div中的控制器DController
<div ng-controller="DController">

    Date format: <input ng-model="format"><hr/>
    Current time is: <span my-current-time="format"></span><hr/>

    <datapicker myvalue="times" ng-model="times" format="yyyy-mm-dd hh:ii:ss" on-closed="updateValue()"></datapicker>
    <br>控制器时间:  {{times}}

</div>


</body>


<script>
    var app = angular.module('myReverseFilterApp', []);


    //-----------------------------指令----------------------------
    app.directive('myCurrentTime', ['$interval', 'dateFilter', function ($interval, dateFilter) {

        function link(scope, element, attrs) {
            var format, timeoutId;

            function updateTime() {
                element.text(dateFilter(new Date(), format));
            }

            // watch 监控formate的变化
            scope.$watch(attrs.myCurrentTime, function (value) {
                format = value;
                updateTime();
            });

            //when an AngularJS scope is destroyed, it broadcasts a $destroy event to listening scopes.
            element.on('$destroy', function () {
                $interval.cancel(timeoutId);
            });

            // start the UI update process; save the timeoutId for canceling
            // $interval处理间歇性工作
            timeoutId = $interval(function () {
                updateTime(); // update DOM
            }, 1000);
        }

        return {
            link: link
        };
    }]);


    app.controller('DController', ['$scope', function ($scope) {
        $scope.times = '2017-01-12 12:12';//定义外边的时间
        $scope.format = 'MM/dd/yyyy hh:mm:ss';
        $scope.updateValue = function () {
            console.log("===="+$scope.times);
        }
    }]);
    app.directive('datapicker', ['$interval', 'dateFilter', function ($interval, dateFilter) {
        function link(scope, element, attrs) {
            function intMyselef() {
                console.log(attrs.format);
                $('#datetimepicker').datetimepicker({
                    format: attrs.format,
                }).on('changeDate', function(ev){
                    scope.datetime = dateFilter(Date.parse(ev.date),'yyyy-MM-dd HH:mm:ss');
                    //scope.datetime = ev.date;
                });
            };
            intMyselef();
            scope.$watch('datetime', function (newval,oldval) {
                console.log('==========='+newval)
                //scope.datetime = newval;
            });
        }
        return {
            //使用方法
            restrict: 'E',
            transclude: true,
            template: '<div>' +
                            '<input type="text" value="" id="datetimepicker" ng-model="datetime"><br><br>' +
                            '<br><br>指令时间:{{datetime}}' +
                      '</div>',
            link: link,
            scope: {
                datetime: '=myvalue'
            }
        };
    }]);










    //-------------------------------过滤器-------------------------------
    app.controller('MyController', ['$scope', 'reverseFilter', function ($scope, reverseFilter) {
        //定义model
        $scope.greeting = 'hello';
        //调用函数的方法使用过滤器
        $scope.filteredGreeting = reverseFilter($scope.greeting);
    }]);
    app.filter('reverse', function () {
        return function (input, uppercase) {
            input = input || '';
            var out = '';
            for (var i = 0; i < input.length; i++) {
                out = input.charAt(i) + out;
            }
            // conditional based on optional argument
            if (uppercase) {
                out = out.toUpperCase();
            }
            return out;
        };
    });
    app.filter('test', function () {
        return function (input) {
            var out;
            if (input.length > 15) {
                out = input.substr(0, 13) + "..."
            }
            else out = input;

            return out;
        };
    });

</script>





