<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--需要引入的文件-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap-datetimepicker.min.css">
    <script src="bootstrap-datetimepicker.min.js"></script>
</head>

定义一个APP
<body ng-app="myReverseFilterApp" style="width: 750px;margin: 0px">
此div中的控制器MyController
<div ng-controller="MyController">
    <input ng-model="greeting" type="text"><br>
    <!-- angualr过滤器的使用方法【{{value|filter}}】,值或者能表示一个值得变量加一个管道符“|”，后面接上filter的名字
     这里的过滤器reverse是angualr中提供的实例，test是自己编写的filter。
     reverse将字母倒置，test在输入长度超过13时显示...-->

    没有过滤器: {{greeting}}<br>
    Reverse过滤器: {{greeting|reverse}}<br>
    在controller中使用Reverse: {{filteredGreeting}}<br>

    test过滤器: {{greeting|test}}
    <hr/>
    <hr/>
</div>
此div中的控制器DController
<div ng-controller="DController">

    Date format: <input ng-model="format">
    <hr/>
    Current time is:<!-- <span my-current-time="format"></span>-->
    <hr/>

    <dateandtime ng-model="times"
                format="dat"
                language="Ch"
                todaybtn
                autoclose
                style="width: 200px">
    </dateandtime>
    <br>控制器时间: {{times}}

</div>


</body>

<script>
    var app = angular.module('myReverseFilterApp', []);


    //-----------------------------指令----------------------------
    app.directive('myCurrentTime', ['$interval', 'dateFilter', function ($interval, dateFilter) {

        function link(scope, element, attrs) {
            var format, timeoutId;

            function updateTime() {
                element.text(dateFilter(new Date(), format));
            }

            // watch 监控formate的变化
            scope.$watch(attrs.myCurrentTime, function (value) {
                format = value;
                updateTime();
            });

            //when an AngularJS scope is destroyed, it broadcasts a $destroy event to listening scopes.
            element.on('$destroy', function () {
                $interval.cancel(timeoutId);
            });

            // start the UI update process; save the timeoutId for canceling
            // $interval处理间歇性工作
            timeoutId = $interval(function () {
                updateTime(); // update DOM
            }, 1000);
        }

        return {
            link: link
        };
    }]);


    app.controller('DController', ['$scope', function ($scope) {
        $scope.times = '';//定义外边的时间
        $scope.format = 'MM/dd/yyyy hh:mm:ss';
        $scope.updateValue = function () {
            console.log("====" + $scope.times);
        }
    }]);

    /**
     * 默认值
     * format：date显示日期，不填或者其他显示日期和时间。属性必须有
     * language:Ch(中文)
     * weekStart:7（周日）
     * minView:自动设置，与format匹配
     *
     * 以下属性有就会显示，否则不显示
     * clearBtn
     * todayBtn
     * autoclose
     */
    app.directive('dateandtime', ['dateFilter', function (dateFilter) {

        function link(scope, element, attrs) {

                $.fn.datetimepicker.dates['Ch'] = {

                    days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                    daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
                    daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
                    months: ["01","02","03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
                    monthsShort: ["一","二","三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
                    meridiem:    ['上午', '下午'],
                    clear: "清除",
                    today: "今天"
                };

            $('#datetimepicker').datetimepicker({

                format: attrs.format=="date"?"yyyy-mm-dd":"yyyy-mm-dd hh:ii",
                weekStart: attrs.weekStart==undefined?"7":attrs.weekStart,
                language: attrs.language==undefined?"Ch":attrs.language,
                minView: attrs.format=="date"?"month":"hour",
                todayBtn: attrs.todaybtn==""?true:false,
                clearBtn: attrs.clearbtn==""?true:false,
                autoclose: attrs.autoclose==""?true:false,

            }).on('changeDate', function(ev){

                scope.datetime = dateFilter(Date.parse(ev.date), attrs.format=="date"?"yyyy-MM-dd":"yyyy-MM-dd HH:mm");
                scope.$apply("datetime");

            });
        }

        return {
            restrict: 'E',
            transclude: true,
            template: '<input type="text" id="datetimepicker" class="form-control input-sm res-input-sm" style="width: inherit;height: inherit" ng-model="datetime">,
            link: link,
            scope: {
                datetime: '=ngModel'
            }
        };
    }]);



    //-------------------------------过滤器-------------------------------
    app.controller('MyController', ['$scope', 'reverseFilter', function ($scope, reverseFilter) {
        //定义model
        $scope.greeting = 'hello';
        //调用函数的方法使用过滤器
        $scope.filteredGreeting = reverseFilter($scope.greeting);
    }]);
    app.filter('reverse', function () {
        return function (input, uppercase) {
            input = input || '';
            var out = '';
            for (var i = 0; i < input.length; i++) {
                out = input.charAt(i) + out;
            }
            // conditional based on optional argument
            if (uppercase) {
                out = out.toUpperCase();
            }
            return out;
        };
    });
    app.filter('test', function () {
        return function (input) {
            var out;
            if (input.length > 15) {
                out = input.substr(0, 13) + "..."
            }
            else out = input;

            return out;
        };
    });

</script>





